<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ website_name }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><span class="p-3">{{ website_name }}</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-1 order-md-0 dual-collapse2" id="navbarsExample02">
        <ul class="navbar-nav" >
          <li class="nav-item" >
            <a class="nav-link" href="/" >Home</a>
          </li>
        {% if logged_user is defined %}
          <li class="nav-item" style="width:100px;">
            <a class="nav-link" href="/users" >Users list</a>
          </li>
        </ul>
          <ul class="navbar-nav w-100 d-flex flex-row-reverse"> 
            <li class="nav-item">
              <a class="nav-link active">{{ logged_user.name}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Sign Out</a>
            </li>
          {% else %}
        </ul>
        <ul class="navbar-nav w-100 d-flex flex-row-reverse">
            <li class="nav-item">
              <a class="nav-link active" href="/signin">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
         {% endif %}
          <!--<li class="nav-item">
              <a class="nav-link" href="" data-target="#myModal" data-toggle="modal">About</a>
          </li>-->
        </navbar-nav>
        </ul>
      </div>
    </nav>
  
  {% block content %}
  {% endblock %}

  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
          <span class="text-muted">&copy; 2022 {{ company_name }}, Inc</span>
      </div>
    </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</body>
</html>
