{% extends './base.html' %}

{% block content %}
<div class="container-fluid ">
    <div class="mx-auto w-50 text-center">
        {% if logged_user is defined %}
            <h1 style="margin-top: 40vh;">Welcome back, {{ logged_user.name }}!</h1>
            <a style="margin-bottom: 30vh;" class="btn w-25 bg-dark text-white" href="/users">Users List</a>
        {% else %}
            <div style="margin-top: 30vh;margin-bottom: 30vh;">
                <h1 class="mb-2">To access the site, please login or create an account!</h1>
                <a class="btn w-25 my-2 bg-light border" href="/signin">Sign in</a>
                <br>
                <a class="btn w-25 bg-dark text-white" href="/signup">Sign up</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}