{% extends './base.html' %}

{% block content %}
<div class="container-fluid mt-5 mb-5 pt-4 pb-4">
    <div class="mx-auto w-50 m-5">
        <h1 class="text-center">Sign In</h1>
        <form class="form-control p-4 mt-4" action="/signin" method="POST">
            {% for field in signin_fields %}
                <div class="form-group m-2">
                    <label>{{ field|capitalize|replace('_', ' ') }}:</label>
                    <input class="form-control" name="{{ field }}" type="{{ field }}" required/>
                </div>
            {% endfor %}
            <input class="form-control btn btn-success mt-2" value="Entrar" type="submit"/>
        </form>
        {% if msg is defined %}
            <div class="bg-danger bg-opacity-25 mt-2 p-2 rounded h6 text-center">
                <span>{{msg}}</span>
          </div>
          <script>
              alert("{{ msg }}")
          </script>
        {% endif %}
    </div>
</div>
{% endblock %}