{% extends './base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="mx-auto w-50 m-4">
        <h1 class="text-center">Sign Up</h1>
        {% if msg is defined %}
            <div class="bg-danger bg-opacity-25 mt-2 p-2 rounded h6 text-center">
                <span>{{msg}}</span>
          </div>
          <script>
              alert("{{ msg }}")
          </script>
        {% endif %}
        <form class="form-control p-4 mt-4" action="/signup" method="POST">
            {% for field in signup_fields %}
                <div class="form-group">
                    {% if field == "cpf" %}
                        <label>{{ field|upper|replace('_', ' ') }}:</label>
                    {% else %}
                        <label>{{ field|capitalize|replace('_', ' ') }}:</label>
                    {% endif %}
                    {% if field == 'password' or field == 'email' %}
                        <input class="form-control mb-2" name="{{ field }}" type="{{ field }}" required/>
                    {% elif field == 'birth_date' %}
                        <input class="form-control mb-2" name="{{ field }}" type="date" maxlength="11" minlength="11" required/>
                    {% else %}
                        <input class="form-control mb-2" name="{{ field }}" type="text" required/>
                    {% endif %}
                </div>
            {% endfor %}
            <input class="form-control btn btn-success mt-2" value="Cadastrar" type="submit"/>
        </form>
    </div>
</div>
{% endblock %}