{% extends './base.html' %}

{% block content %}
<div class="container-fluid" style="margin-bottom: calc(60vh - {{ users_list|length }}*10vh);">
    <div class="mx-auto my-4 w-50">
        <h1 class="text-center my-4">Users List:</h1>
        <table class="table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Birth Date</th>
            </tr>
        {% for user in users_list %}
            <tr>
                <td class="py-3">{{ user.name }}</td>
                <td class="py-3">{{ user.email }}</td>
                <td class="py-3">{{ user.birth_date }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}